*{
  box-sizing: border-box;
}

body{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      overflow-x: hidden;
      background: linear-gradient(to top right, black, white);
      display: grid;
      grid: 10vh auto auto / auto auto auto;
}

.container{
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  width: 90vw;
  height: 70vh;
  margin: 0;
  border: 5px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  margin: 0;
  color: white;
  font-family: "PT Sans", sans-serif;
  text-decoration: underline;
  text-align: center;
}

.row{
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (orientation: landscape){
  #quoteContainer{
    height: auto;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    text-shadow: -2px 0 rgba(255,255,255,0.5);
    color: white;
    z-index: 3;
  }
}

@media only screen and (orientation: portrait){
  #quoteContainer{
    position: absolute;
    top: 20%;
    height: auto;
    width: 100%;
    padding: 5px;
    font-size: 3vh;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    text-shadow: -1px 0 rgba(255,255,255,0.5);
    color: white;
    z-index: 3;
  }
}



.author{
  font-style: italic;
  float: right;
}

.backgroundQuote{
  position: absolute;
  top: 0;
  left: 0;
  grid-row: 1/4;
  grid-column: 1/4;
  height: 100vh;
  width: 100vw;
  text-align: center;

  transition: 3s;
  overflow-y: hidden;
}

#backgroundQuote2{
  opacity: 0;
}

.backgroundQuote p{
  margin: 0;
  font-size: 20vw;
  color: rgba(255,255,255,0.2);
}

.trumpBackGround{
  position: absolute;
  top: 0;
  left: 0;
  grid-row: 1/4;
  grid-column: 1/4;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top right, rgb(237, 142, 0), rgb(238, 232, 170),
                              rgb(212, 175, 55), rgb(238, 232, 170));
  overflow-y: hidden;
  text-align: center;
  opacity: 0;
}

.trumpBackGround p{
  margin: 0;
  font-size: 20vw;
  background-color: rgb(218, 165, 32);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  z-index: -1;
}



.btn{
  width: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: white;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.2),
              rgba(255, 255, 255, 0.2));
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0;
  transition: 1s;
}

@media only screen and (orientation: portrait){
  .btn {
    font-size: 15px;
  }
}

.btn:focus{
  outline: none;
}

.btn:hover{
  box-shadow: 2px 2px 2px 0 rgb(0,0,0,0.5);
}

.buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.5);
  display: grid;
  grid-column-gap: 10px;
  grid: auto / auto auto auto;
}

#getQuote{
  grid-row: 1/2;
  grid-column: 1/2;
}

#tweetBtn{
  grid: 1/2;
  grid-column: 3/4;
  width: inherit;
  height: inherit;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#trumpify{
  grid-row: 1/2;
  grid-column: 2/3;
}

#signature{
  grid-row: 3/4;
  grid-column: 2/3;
  width: auto;
  height: auto;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

.portfolioLink{
  width: auto;
  height: auto;
  display: flex;
  color: white;
  font-family: "PT Sans", sans-serif;
  flex-direction: row;
  text-decoration: none;
}

.heroLogo{
  position: relative;
  font-size: 60px;
  -webkit-text-stroke: 2px rgba(255,255,255,0.2);

}

/* logo animation*/

@keyframes glow{
  from{
    -webkit-text-stroke: 2px rgba(255,255,255,0.5);
  }

  to{
    -webkit-text-shadow: 4px rgba(255,255,255,0.5);
  }
}

.portfolioLink:hover{
  animation: glow 1s linear infinite alternate;
}

.portfolioLink:hover > .heroLogo{
  animation: glow 1s linear infinite alternate;
}
